<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
<listeners>
		<listener class-name="utills.TestNgListener" />
    
	</listeners>
  <test thread-count="5" name="Amazon UI Functional Testing ">
    <classes>
      <class name="testScripts.AM_Login_001"/>
      <class name="testScripts.AM_Login_002"/>
      <class name="testScripts.AM_Login_003"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
